body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
} 

address{
    font-style: normal;
}

img{
    display: block;
}


.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    margin: 0 auto;
}

/*--head--*/


.header .header-container{
    display: flex;
    align-items: center;
}

.header {
    padding-right: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}

.conteiner{}

.header-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 332px;
}

.header-logo-link {
font-family: "Raleway", sans-serif;
line-height: 1.17;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.italic{
color: #2e2f42;
}


.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-link-item {
font-weight: 500;
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-link-item:hover,
.header-link-item:focus,
.header-link-item:active{
color: #404bbf;
}

.header-contacts {
font-style: normal;
display: flex;
align-items: center;
}

.header-menu-address{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-item {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;


}

.header-contacts-item:hover,
.header-contacts-item:focus,
.header-contacts-item:active{
color: #404bbf;
}


/*--section1--*/


.hero {
background: #2e2f42;
padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
line-height: 1.07;
font-weight: 700;
font-size: 56px;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
max-width: 496px;
margin: 0 auto 28px;
}

.hero-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
cursor: pointer;
display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
border: none;
}

.hero-button:hover,
.hero-button:focus{
background: #404bbf;
}



/*--section2--*/



.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {}

.features-item {
    display: flex;
    gap: 24px;
}

.features-item-list{
    width: calc((100% - 4 * 24px) / 3));
}



.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 24px; 
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.features-lead {
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;
color: #434455;
}


/*--section3--*/


.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}


.team-title {
text-transform: capitalize;
line-height: 1.11;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.team-item {
text-align: center;
display: flex;
gap: 24px;
}

.team-item-list{
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
width: calc((100% - 4 * 24px) / 3));
}

.team-item-list-card{
    padding-bottom: 32px;
}

.team-item-img {
    margin-bottom: 32px;
}

.team-subtitle {

}

.team-lead {
    
}


/*--section4--*/


.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-portfolio{
    padding-left: 16px;
}

.portfolio-title {
margin-bottom: 72px;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item-list{
    padding-bottom: 32px;
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-item-list-card{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
}

.portfolio-item-img {
}

.portfolio-subtitle {

}

.portfolio-lead {
}


/*--footer--*/


.footer {
background: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-link-logo {
display: inline-block;
font-family: "Raleway", sans-serif;
line-height: 1.17;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.italic-footer{
color: #f4f4fd;
}


.footer-lead {
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}